{
    "version": "2017-02-28",
    "operation": "PutItem",
    "key": {
        "beerId": { "S": "$context.arguments.beerId" },
        "deviceId": { "S": "$context.arguments.deviceId" }
    },
    "attributeValues": {
    	"deviceName": { "S": "$context.arguments.deviceName" },
        "type": { "S": "$context.arguments.type" }
    }
}